/*
 * Zyra FT dongle shield z wyświetlaczem GC9A01 240x240 round
 *
 * Pinout (nice!nano v2):
 *  GC9A01 SCL  -> D15 / P0.10 (SPI SCK)
 *  GC9A01 SDA  -> D14 / P0.09 (SPI MOSI)
 *  GC9A01 RES  -> D2  / P0.17
 *  GC9A01 DC   -> D3  / P0.20
 *  GC9A01 CS   -> D4  / P0.22
 *  GC9A01 BL   -> D5  / P0.24 (PWM backlight)
 */

#include <zephyr/dt-bindings/display/panel.h>
#include "zyraft-layouts.dtsi"

&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 10)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 9)>;
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 10)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 9)>;
            low-power-enable;
        };
    };

    pwm0_default: pwm0_default {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 24)>;
        };
    };

    pwm0_sleep: pwm0_sleep {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 24)>;
            low-power-enable;
        };
    };
};

&spi1 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
};

&pwm0 {
    status = "okay";
    pinctrl-0 = <&pwm0_default>;
    pinctrl-1 = <&pwm0_sleep>;
    pinctrl-names = "default", "sleep";
};

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zephyr,display = &gc9a01;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

    pwmleds {
        compatible = "pwm-leds";
        disp_bl: pwm_led_0 {
            pwms = <&pwm0 0 PWM_MSEC(1) PWM_POLARITY_NORMAL>;
        };
    };

    mipi_dbi {
        compatible = "zephyr,mipi-dbi-spi";
        spi-dev = <&spi1>;
        dc-gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
        write-only;
        #address-cells = <1>;
        #size-cells = <0>;

        gc9a01: gc9x01x@0 {
            compatible = "galaxycore,gc9x01x";
            mipi-max-frequency = <32000000>;
            mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
            reg = <0>;
            width = <240>;
            height = <240>;
            pixel-format = <PANEL_PIXEL_FORMAT_RGB_565>;
            display-inversion;
        };
    };
};
